site_name: Creature Craft
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

nav:
  - Home: readme.md
  - HarvestCraft: HarvestCraft.md
  - CookCraft: CookCraft.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - footnotes
  - def_list
  - codehilite